/* --------------------------------------- */
/* --------------- GENERAL --------------- */
/* --------------------------------------- */

/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES */

/* Colors */
$color1-type1: rgb(26, 26, 25);
$color1-type2: rgb(54, 54, 51);
$color1-type3: rgb(85, 92, 107);
$color2-type1: rgb(253, 253, 253);
$color2-type2: rgb(243, 245, 249);
$color2-type3: rgb(237, 239, 244);
$color3-type1: rgb(63, 63, 161);
$color3-type2: rgb(150, 150, 178);
$color3-type3: rgb(195, 195, 227);

/* Font */
$main-font: "Work Sans", sans-serif;

/* Text-Size */
$title-size: 3em;
$large-size: 2.3em;
$med-size: 2em;
$small-size: 1.3em;
$small-size-2: 1.5em;

/* Padding */
$body-padding: 10px;

/* GENERAL STYLE */

* {
    box-sizing: border-box;
    font-family: $main-font;
}

::selection {
    /* text highlight costumization */
    background-color: $color3-type1;
    color: $color2-type1;
}

::backdrop {
    background-color: $color2-type1;
    opacity: 0.75;
}

body {
    margin-top:0;
    padding-top:0;
    font-family: "Montserrat";
    background-color: $color2-type1;
    color: $color1-type1;
}

#main-top-div {
    padding: 0;
    margin: 0;
    background-color: $color2-type3;
    color: $color1-type2;

    #title {
        margin: 0;
        padding: 40px 20px;
        background-color: $color1-type3;
        color: $color2-type2;
        font-family: $main-font;
        font-size: $title-size;
        font-weight: 500;
        letter-spacing: 10px;
        margin: $body-padding;
        margin-bottom: 40px;
    }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
